.main {
  margin: 15px;
  text-align: center;
  .profileImageContainer {
    margin-top: 10px;
    .profileImage {
      height: 20%;
      width: 20%;
    }
  }

  .profileContainer {
    .input-form-standard {
      margin: 5px;
      font-size: 18px;
      width: 95%;
      border: solid 1px #3d81ff;
    }
  }
}
